ion-item {
  --ion-background-color: inherit !important;
  background-color: inherit !important;
  background: inherit !important;
}
/* ion-col {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
} */
.hSelect, .tIcon{
  height: 100% !important;
  width: 100% !important;
}